body {
  font-family: 'Roboto', Arial, sans-serif; /* Use Roboto as the primary font */
  background-color: #fbfaff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin: 20px 0;
}

h1 {
  margin-top: 10px;
  color: #990D6D;
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 0px 25px; 
}

label {
  display: block;
  margin-bottom: 8px;
  color: #940C6A;
  font-weight: 600;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 0.7px solid #490634;
  background: rgba(255, 255, 255, 0.70);
  box-sizing: border-box;
}

form input::placeholder{
  color: #BCBCBC;
}

button {
  background-color: #A91079;
  color: #FFF;
  border: none;
  cursor: pointer;
  margin-top: 5%;
  padding: 5%;
  font-weight: bold;
  padding: 1rem !important;
  font-size: 18px;
}

button:hover {
  background-color: #990e6d;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  form {
    padding: 15px;
  }
  .logo-container {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    max-width: 120px; /* Adjust the size for smaller screens */
    margin-bottom: 10px;
  }
}
/* Your existing CSS remains unchanged */

/* Additional styling for responsive layouts */

.desktop-layout {
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 100%;
  object-fit: contain;
}

/* Add this style for the desktop layout */
.desktop-layout {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0%;
}

/* Style for the image container */
.image-container {
  position: relative;
  width: 50%;
  max-height: 100vh;
}

.logo-and-text{
  position: absolute;
  top: 4%;
  left: 4%;
  text-align: left;
}

.logo {
  max-width: 140px;
  height: auto;
  margin-bottom: 5%;
}

.image-title{
  text-align: left;
  color: #00F5F5;
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
margin: 0px 0px;
}

.image-caption{
  color: #FFF;
  text-align: left;
  /* font-family: Poppins, sans-serif; */
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0px 0px;
  margin-top: -15px;
}

/* Style for the form container */
.form-container {
  color: #fff; /* Text color for better visibility */
  width: 50%;
  padding-top: 2rem;
}

.hide-on-desktop{
  display: none;
}

@media screen and (max-width: 600px) {

  .desktop-layout{
    position: relative;
  }

  .image-container{
    display: none;
  }
  .form-container{
    width: 100%;
    z-index: 10;
    background: rgb(113, 10, 120);
    background-image: url(btc-image.svg);
    background-blend-mode: multiply;
    object-fit: cover;
    
  }

  label{
    color: #fff;
  }

  h1{
    color: #00F5F5;
  }

  .hide-on-desktop{
    display: block;
    text-align: center;
    margin: 2rem auto;
  }
}
